@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
@import "tailwindcss";
@import "nextra-theme-docs/style.css";

@variant dark (&:where(.dark, .dark *));

/* Hide Scrollbar (Clean Look) */
html::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}
html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
